<section class="profile">
  <div class="profile__container">
    <div class="profile__container__content">
      <div class="profile__container__content__skills">
        <app-ui-component-circle-progress-bar></app-ui-component-circle-progress-bar>
      </div>

      <div class="profile__container__content__info">
        <h3>Front-End Developer</h3>
        <div class="profile__container__content__info__aboutme">
          <p>Perfil dinâmico, prático e com foco nos resultados, buscando sempre fortalecer e estreitar o relacionamento com as áreas de negócios e tecnologia, resultando em:</p>
          <nav>
            <ul>
              <li>- Melhoria nas taxas de conversão e aumento nas vendas;</li>
              <li>- Maior estabilidade e melhor performance das lojas on-line;</li>
              <li>- Manutenção preventiva e redução de incidentes, visando a melhoria da experiência do cliente e da usabilidade das lojas;</li>
              <li>- Superação de metas em grandes campanhas como BlackFriday, Semana do Consumidor, Aniversário Netshoes, entre outras.</li>
            </ul>
          </nav>
        </div>
        <div class="profile__container__content__info__college">
          <h3>Formação acadêmica</h3>
          <div class="profile__container__content__info__college__content">

            <div class="profile__container__content__info__college__content__img">
              <img src="{{logoUninove}}"   alt="">
            </div>
            <div class="profile__container__content__info__college__content__text">
              <span>UNINOVE</span>
              <small>2011 - 2014</small>
              <p>Tecnologia em Análise e Desenvolvimento de Sistemas</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="profile__container__photo">
      <img  src="https://avatars.githubusercontent.com/u/34626735?v=4" alt="Thiago Diógenes">
    </div>
  </div>
</section>


