.profile {
  position: relative;
  margin-top: 140px;
  &__container {
    margin: 0 auto;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }

    @media (min-width: 1600px) {
      max-width: 1440px;
    }
    @media (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 15px;
    }

    &__photo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -195%);
      img {
        max-width: 250px;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 100px;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      border-radius: 15px;
      margin-bottom: 60px;

      &__info {
        margin: 60px 0;
    margin-left: 20%;
        h3 {
          font-family: "Source Sans Pro", sans-serif;
          margin: 0;
          text-align: center;
        }

        &__aboutme {
          p {
            font-family: "Source Sans Pro", sans-serif;
            max-width: 480px;
            text-align: center;
          }
          nav {
            ul {
              li {
                font-family: "Source Sans Pro", sans-serif;
                max-width: 480px;
                text-align: center;
              }
            }
          }
        }
        &__college {
          h3 {
            font-family: "Source Sans Pro", sans-serif;
            text-align: inherit;
            margin: 10px 0 0;
          }
          &__content {
            display: flex;
            min-height: 70px;
            align-items: center;
            max-width: 500px;
            &__img {
              img {
                max-width: 80px;
              }
            }

            &__text {
              margin-left: 15px;
              span {
                display: block;
                font-family: "Source Sans Pro", sans-serif;
              }
              small {
                font-family: "Source Sans Pro", sans-serif;
                margin: 5px 0;
                display: block;
                font-weight: 600;
              }
              p {
                font-family: "Source Sans Pro", sans-serif;
                margin: 0;
              }
            }
          }
        }

        &__licences {
          margin-top: 20px;
          h3 {
            text-align: inherit;
          }
          &__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: flex-start;
            &__box {
              display: flex;
              flex-direction: column;
              align-items: center;
             div {
               min-height: 100px;
               display: flex;
                align-items: center;
              img {
                max-width: 70px;
              }
             }
             span {
              display: block;
              font-family: "Source Sans Pro", sans-serif;
            }

            &:last-child {
              img {
                border-radius: 50%
              }
            }
            }
          }
        }
      }
    }
  }
}
