
.ui-page-header {
  background: rgba(0,0,0,255);
  position: fixed;
 width: 100%;
   z-index: 9;
   top: 0;

   &__container {

    margin: 0 auto;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1600px) {
      max-width: 1440px;
    }

    @media (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 15px;
    }




    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      &__logo {
        cursor: pointer;
        margin: 0;
        .ng-fa-icon {
          color: #fff;
          font-size: 40px;
          &:hover {
            color: #00d1ff;
            transition: all 0.2s ease-out;
          }

          @media (max-width: 500px) {
            font-size: 30px;
          }
        }
      }

      &__menu {
        nav {
          ul {
            display: flex;
            @media (max-width: 500px) {
              display: flex;
              justify-content: left;
              align-items: center;
              flex-wrap: wrap;
              max-width: 220px;
            }

            li {
              list-style: none;
              margin-right: 15px;
              color: #fff;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 18px;
              text-transform: uppercase;
              cursor: pointer;
              @media (max-width: 500px) {
                margin-bottom: 5px;
                font-size: 15px;
              }

              &:hover {
                color: #00d1ff;
                transition: all 0.2s ease-out;
              }
            }
          }
        }
      }
    }
   }

   .login-google {
    display: flex;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      min-width: 42px;
      min-height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
   .login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
    position: relative;
    padding: 10px 16px 12px 55px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    background-color: #4285f4;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    min-width: 220px;
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    // &:active {
    //   background-color: #eeeeee;
    // }

    &:focus {
      outline: none;
      box-shadow:
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }

    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }
}
