<section class="experience">
  <div class="experience__container">
    <div class="experience__container__title">
      <h1>Experiência Profissional</h1>
      <p>Segue abaixo a minha trajetória profissional com foco em desenvolvimento.</p>
    </div>
    <div class="experience__container__content">
      <div class="experience__container__content__box">
        <div class="experience__container__content__box__main">
          <div class="experience__container__content__box__main__logo">
            <img src="../../../../assets/logo-grupo-netshoes.png" alt="">
          </div>
          <div class="experience__container__content__box__main__text">
            <h2>Grupo Netshoes</h2>
            <small>jan de 2014 - ago de 2018  (6 anos 11 meses)</small>
            <span>Analista de Operações de e-Commerce Pleno</span>
            <nav>
              <ul>
                <li>Programação de campanhas de marketing (Netshoes e Zattini).</li>
                <li>Suporte e programação de mecânicas promocionais.</li>
                <li>Criação de Landing Pages e Segmentações</li>
                <li>Gestão de tags (Google Tag Manager).</li>
                <li>Monitoração dos ambientes de homologação e produção em conjunto com os times de suporte dos EUA e da Índia para atuação preventiva, visando melhoria na performance, usabilidade e experiência dos clientes.
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="experience__container__content__box__techs">
          <span>Tecnologias:</span>
          <nav>
            <ul>
              <li>Oracle Commerce - ATG</li>
              <li>Oracle - Endeca</li>
              <li>Freedom (CMS)</li>
              <li>Google Tag Manager</li>
              <li>Akamai (CDN)</li>
              <li>JMeter</li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="experience__container__content__box">
        <div class="experience__container__content__box__main">
          <div class="experience__container__content__box__main__logo">
            <img src="../../../../assets/logo-compasso.png" alt="">
          </div>
          <div class="experience__container__content__box__main__text">
            <h2>Compasso (UOL)</h2>
            <small>ago de 2018 - nov de 2021 (3 anos e 2 meses)</small>
            <span>Front End Developer</span>
            <nav>
              <ul>
                <li>Programação de campanhas de marketing (Livelo).</li>
                <li>Criação de Landing Page.</li>
                <li>Criação de segmentações OCC.</li>
                <li>Suporte e configuração de Widgets.</li>
                <li>Criação e desenvolvimento de automações junto ao time de negócios, implementação de novos widgets na base do OCC e configuração no Knockout.js.
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="experience__container__content__box__techs">
          <span>Tecnologias:</span>
          <nav>
            <ul>
              <li>Oracle Commerce - ATG</li>
              <li>Oracle - Endeca</li>
              <li>OCC - Oracle</li>
              <li>Google Tag Manager</li>
              <li>Akamai (CDN)</li>
              <li>JQuery</li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="experience__container__content__box current">
        <div class="experience__container__content__box__main">
          <div class="experience__container__content__box__main__logo">
            <img src="../../../../assets/logo-dotz.png" alt="">
          </div>
          <div class="experience__container__content__box__main__text">
            <h2>Dotz</h2>
            <small>Nov de 2021 - Atualmente</small>
            <span>Front End Developer</span>
            <nav>
              <ul>
                <li>Migração da estrutura WordPress para Angular.</li>
                <li>Desenvolvimento de novos componentes Angular. </li>
                <li>Criação de layouts conforme expectativa de marketing.</li>
                <li>Gestão e configuração de conteúdo Prismic.</li>
                <li>
                  Versionamento de código utilizando o git, criação de versões no Jenkis para os testes de QA, monitoramento das UI's e ambientes de homologação.
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="experience__container__content__box__techs">
          <span>Tecnologias:</span>
          <nav>
            <ul>
              <li>Angular</li>
              <li>Prismic </li>
              <li>WordPress</li>
              <li>Azure</li>
              <li>Git</li>
              <li>Jenkis </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
