<section class="experience">
  <div class="experience__container">
    <div class="experience__container__content">
      <div class="experience__container__content__box">
        <div class="experience__container__content__box__main">
          <div class="experience__container__content__box__main__logo">
            <img src="../../../../assets/logo-grupo-netshoes.png" alt="">
          </div>
          <div class="experience__container__content__box__main__text">
            <h2>Grupo Netshoes</h2>
            <small>jan de 2014 - ago de 2018 · 6 anos 11 meses</small>
            <span>Analista de Operações de e-Commerce Pleno</span>
            <nav>
              <ul>
                <li>Programação de campanhas de marketing (Netshoes e Zattini)</li>
                <li>Suporte e programação de mecânicas promocionais.</li>
                <li>Criação de Landing Pages e Segmentações</li>
                <li>Gestão de tags (Google Tag Manager).</li>
                <li>Monitoração dos ambientes de homologação e produção em conjunto com os times de suporte dos EUA e da Índia para atuação preventiva, visando melhoria na performance, usabilidade e experiência dos clientes.
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="experience__container__content__box__techs">
          <span>Tecnologias:</span>
          <nav>
            <ul>
              <li>Oracle Commerce - ATG</li>
              <li>Oracle - Endeca</li>
              <li>Freedom (CMS)</li>
              <li>Google Tag Manager</li>
              <li>Akamai (CDN)</li>
              <li>JMeter</li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="experience__container__content__box">
        <div class="experience__container__content__box__main">
          <div class="experience__container__content__box__main__logo">
            <img src="../../../../assets/logo-compasso.png" alt="">
          </div>
          <div class="experience__container__content__box__main__text">
            <h2>Compasso (UOL)</h2>
            <small>jan de 2014 - ago de 2018 · 6 anos 11 meses</small>
            <span>Analista de Operações de e-Commerce Pleno</span>
            <nav>
              <ul>
                <li>Programação de campanhas de marketing (Netshoes e Zattini)</li>
                <li>Suporte e programação de mecânicas promocionais.</li>
                <li>Criação de Landing Pages e Segmentações</li>
                <li>Gestão de tags (Google Tag Manager).</li>
                <li>Monitoração dos ambientes de homologação e produção em conjunto com os times de suporte dos EUA e da Índia para atuação preventiva, visando melhoria na performance, usabilidade e experiência dos clientes.
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="experience__container__content__box__techs">
          <span>Tecnologias:</span>
          <nav>
            <ul>
              <li>Oracle Commerce - ATG</li>
              <li>Oracle - Endeca</li>
              <li>Freedom (CMS)</li>
              <li>Google Tag Manager</li>
              <li>Akamai (CDN)</li>
              <li>JMeter</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
