.experience {
  background-color: rgb(244, 244, 244);
  &__container {
    margin: 0 auto;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1600px) {
      max-width: 1440px;
    }

    @media (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 15px;
    }

    &__title {
      padding: 15px 0 30px;
      h1 {
        font-family: "Source Sans Pro", sans-serif;
        margin: 0;
      }

      p {
        font-family: "Source Sans Pro", sans-serif;
        margin: 10px 0;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 980px) {
        grid-template-columns: 1fr;
      }
      align-items: center;
      &__box {
        margin-bottom: 30px;
        &__main {
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 500px) {
          display: inherit;
          }

          &__logo {
            min-width: 100px;
            @media (max-width: 500px) {
              float: left;
              max-width: 100px;
              padding-right: 10px;
            }
            img {
              max-width: 100%;
              height: auto;
            }
          }

          &__text {
            min-height: 252px;
            h2 {
              padding: 0 15px;
              margin: 0 0 10px;
              font-family: "Source Sans Pro", sans-serif;
            }
            small {
              padding: 0 15px;
              display: block;
              font-family: "Source Sans Pro", sans-serif;
            }
            span {
              padding: 0 15px;
              margin: 5px 0;
              display: block;
              font-family: "Source Sans Pro", sans-serif;
              font-weight: 700;
            }
            nav {
              padding: 0 15px;
              ul {
                li {
                  font-family: "Source Sans Pro", sans-serif;
                  font-weight: 500;
                  font-size: 14px;
                  @media (max-width: 1200px) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        &__techs {
          display: flex;
          margin-top: 10px;
          align-items: center;
          span {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 700;
            font-size: 18px;
          }

          nav {
            ul {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              align-items: center;
              grid-gap: 0 10px;
              padding-left: 25px;
              li {
                font-family: "Source Sans Pro", sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: #120a8f;
                text-align: center;
                @media (max-width: 1600px) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .current {
        grid-column: 1/3;
        @media (max-width: 980px) {
          grid-column: inherit;
          background-image: inherit;
        }
        background-image: url("../../../../assets/bolinhas-dotz.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        .experience__container__content__box__main__logo {
          img {
            max-width: 100px;
          }
        }
      .experience__container__content__box__main {
        justify-content: flex-start;
      }

      ul {
        li {
          max-width: 780px;
          @media (max-width: 1200px) {
            max-width: 480px;
            font-size: 14px;
          }
        }
      }
      }
    }
  }
}
