<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"  id="myVideo">
  <source src="{{circuit}}" type="video/mp4">
</video>
<section class="ui-page-login">
  <div class="ui-page-login__container">
    <!-- <button mat-button (click)="openDialog()" id="coisa">Launch dialog</button> -->

    <div class="ui-page-login__container__author">
      <div class="ui-page-login__container__author__photo">
        <img src="https://avatars.githubusercontent.com/u/34626735?v=4" alt="Thiago Diógenes">

      </div>
      <div class="ui-page-login__container__author__name">
        <p>Thiago Diógenes</p>
      </div>
    </div>

    <div class="ui-page-login__container__content">
      <form [formGroup]="login" (ngSubmit)="submit()" autocomplete="off">
        <mat-form-field appearance="fill">

          <input
            matInput
            type="text"
            formControlName="username"
            placeholder="Username"
          />
          <mat-error
            *ngIf="
              login.get('username')?.errors && login.get('username')?.errors"
          >
            E-mail com formato inválido</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Password"
            id="button-hide"
          />
       <div class="button-hide">
        <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
       </div>
          <mat-error *ngIf="login.get('password')?.errors">
            Senha deve ter no minímo 6 caracteres
          </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!login.valid" (click)="loginMain()">
          Login!
        </button>
      </form>
    </div>
    <div>
      <!-- <div>
        <div *ngIf="afAuth.authState | async as user">
          Welcome {{user.displayName}} !!!
        </div>

        <button class="action-button" *ngIf="(afAuth.authState | async) === null" (click)="signLoginGoogle()">Sign-In with Google</button>
        <button class="action-button" *ngIf="(afAuth.authState | async)" (click)="signOutLoginGoogle()">Sign-Out</button>
         <button (click)="teste()">TESTEE</button>
      </div> -->
      <div class="login-google">

        <button type="button" class="login-with-google-btn" *ngIf="(afAuth.authState | async) === null" (click)="signLoginGoogle()">
          Sign in With Google
          <div class="login-google__icon">
            <img src="{{iconGoogle}}" />
          </div>
        </button>

        <button type="button" class="login-with-google-btn" *ngIf="(afAuth.authState | async)" (click)="signOutLoginGoogle()">
          Sign Out With Google
          <div class="login-google__icon">
                <img src="{{iconGoogle}}" />
          </div>
        </button>
      </div>

    </div>
  </div>
</section>
