.ui-page-login {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__author {
      &__photo {
        img {
          border-radius: 50%;
        }
      }

      &__name {
        p {
          color: #fff;
          text-align: center;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 22px;
        }
      }
    }
    &__content {
      min-width: 320px;

      form {
        display: grid;

        input {
          border-radius: 20px;
          height: 40px;
          background: #fff;
          padding: 0 15px;
          width: 290px;
        }

        input::-webkit-input-placeholder {
          padding-left: 20px;
          opacity: 1;
        }

        .button-hide {
          position: absolute;
          right: 0;
          top: 0;
          padding: 6px 10px 0px;
        }
      }
    }
  }
}


/* Login Google */

.login-google {
    display: flex;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      min-width: 42px;
      min-height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  cursor: pointer;
  position: relative;
  padding: 10px 16px 12px 55px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  background-color: #4285f4;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  min-width: 220px;
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  // &:active {
  //   background-color: #eeeeee;
  // }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
