.contact-form {
  height: 100%;
  background: url('../../../../assets/simple-header.png');
  padding-bottom: 30px;
  &__container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1600px) {
      max-width: 1440px;
    }

    @media (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 15px;
    }
    @media (max-width: 768px) {
      height: inherit;
    }

    img {
      max-width: 120px;
      margin-bottom: 15px;
      opacity: 0.9;
      color: #fff;
      background: #fff;
      border-radius: 50%;
      padding: 10px;
    }
    h1 {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
    }
    &__content {
      background-color: #fff;
      opacity: 0.9;
      padding: 20px;
      border-radius: 10px;
      width: 35%;
      margin: 0 auto;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);

      @media (max-width: 900px) {
        width: 100%;
      }
      .form-group {
        display: flex;
        flex-direction: column;

        width: 100%;
        input {
          width: 100%;
        }
        .submitMessage {
          color: green;
          font-weight: bold;
        }

        small {
          font-family: "Source Sans Pro", sans-serif;
          color: #212529;
          font-weight: 600;
          position: relative;
          bottom: 15px;
        }
      }
    }
  }
}
