<section class="contact-form">
  <div class="contact-form__container">
    <!-- <h1>Contato</h1> -->
    <div>
      <img src="{{iconContact}}" alt="ss" style="    max-width: 150px;
      margin-bottom: 15px; opacity: 0.6;">
    </div>
    <div class="contact-form__container__content">
      <form [formGroup]="contactForm" class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" >
        </mat-form-field>
        <small *ngIf="contactForm.get('name').invalid && contactForm.get('name').touched" >O campo nome é obrigatório</small>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <small *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" >O campo email é obrigatório</small>

        <mat-form-field appearance="outline">
          <mat-label>Categorias</mat-label>
          <mat-select formControlName="subject" >
            <mat-option value="duvidas">Duvidas</mat-option>
            <mat-option value="orcamento">Orçamento</mat-option>
            <mat-option value="outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Digite aqui sua mensagem</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
        <small *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched" >O campo mensagem é obrigatório</small>

        <button type="reset" mat-raised-button color="primary"  [disabled]="contactForm.invalid" (click)="submitData(contactForm.value)">Enviar Mensagem</button>

      </form>

    </div>
  </div>
</section>
