<section class="contact-form">
  <div class="contact-form__container">
    <h1>Contato</h1>
    <div class="contact-form__container__content">
      <form [formGroup]="contactForm" class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Categorias</mat-label>
          <mat-select>
            <mat-option value="duvidas">Duvidas</mat-option>
            <mat-option value="orcamento">Orçamento</mat-option>
            <mat-option value="outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Digite aqui sua mensagem</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar Mensagem</button>
      </form>

    </div>
  </div>
</section>
