.contact-form {
  &__container {
    margin: 0 auto;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1600px) {
      max-width: 1440px;
    }

    @media (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 15px;
    }
    &__content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50%;
      margin: 0 auto;
      .form-group {
        display: flex;
        flex-direction: column;

        width: 100%;
        input
        {
          width: 100%;
        }

      }
    }
  }
}
