h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}

p {
  font-family: "Source Sans Pro", sans-serif !important;
  max-width: 250px;
  text-align: center;
}

button {
  background-color: #4285f4;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 100%;
}

