.circle-progress {
  margin: 60px 0;
  position: relative;
  &__container {
    max-width: 480px;
    @media (max-width: 1220px) {
      max-width: 100%;
    }
    h3 {
      font-family: "Source Sans Pro", sans-serif;
      margin: 0;
      text-align: center;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 220px);
      @media (max-width: 1220px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 440px) {
        grid-template-columns: 1fr;
      }

      grid-gap: 20px;
      justify-items: center;
      position: relative;
      top: 15px;
      &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        span {
          font-family: "Source Sans Pro", sans-serif;
        }
      }
    }
  }
}
