<section class="circle-progress">
  <div class="circle-progress__container">
    <h3>Principais competências:</h3>
    <div class="circle-progress__container__content">
      <div class="circle-progress__container__content__box">
        <span>HTML</span>
        <circle-progress class="teste"
          [percent]="95"
          [radius]="75"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#4285f4'"
          [animation]="true"
          [animationDuration]="1200"
          [unitsFontSize]="'28'"
          [subtitleFontSize]="'14'"
          [titleFontWeight]="'700'"
          [unitsFontWeight]="'900'"



        ></circle-progress>
      </div>
      <div class="circle-progress__container__content__box">
        <span>CSS</span>
        <circle-progress
          [percent]="90"
          [radius]="75"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#4285f4'"
          [animation]="true"
          [animationDuration]="1200"
          [unitsFontSize]="'28'"
          [subtitleFontSize]="'14'"
          [titleFontWeight]="'700'"
          [unitsFontWeight]="'900'"
        ></circle-progress>
      </div>

      <div class="circle-progress__container__content__box">
        <span>JavaScript</span>
        <circle-progress
        [percent]="75"
        [radius]="75"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#4285f4'"
        [animation]="true"
        [animationDuration]="1200"
        [unitsFontSize]="'28'"
        [subtitleFontSize]="'14'"
        [titleFontWeight]="'700'"
        [unitsFontWeight]="'900'"
        ></circle-progress>
      </div>
      <div class="circle-progress__container__content__box">
        <span>Angular</span>
        <circle-progress
          [percent]="85"
          [radius]="75"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#4285f4'"
          [animation]="true"
          [animationDuration]="1200"
          [unitsFontSize]="'28'"
          [subtitleFontSize]="'14'"
          [titleFontWeight]="'700'"
          [unitsFontWeight]="'900'"
        ></circle-progress>
      </div>

    </div>
  </div>
</section>
