.circle-progress {
  margin: 60px 0;
  &__container {
    h3 {
      font-family: "Source Sans Pro", sans-serif;
      margin: 0;
      text-align: center;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 220px);
      grid-gap: 20px;
      justify-items: center;
      justify-content: center;
      position: relative;
      top: 15px;
      &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        span {
          font-family: "Source Sans Pro", sans-serif;
        }
      }
    }
  }
}
