<section class="ui-page-main">
  <div class="ui-page-main__container">
    <div class="ui-page-main__container__content">
      <div class="ui-page-main__container__content__video">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi nostrum totam porro facere quidem modi saepe facilis quia atque! Et aliquid harum voluptatum, quo perspiciatis quis non! Dolorum, dolor optio.
      </div>
      <div class="ui-page-main__container__content__skills">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea id et consequuntur praesentium dolores totam, cumque harum ullam temporibus quia atque, ducimus officia ut itaque! Magnam alias sed molestiae?
      </div>
      <div class="ui-page-main__container__content__experience">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est qui vero ducimus impedit reiciendis ipsam soluta expedita esse, doloremque labore voluptatum necessitatibus iusto laborum saepe eligendi consequatur eos mollitia consequuntur!
      </div>
    </div>
  </div>
</section>
