* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

body {
  padding-top: 80px;
  margin: 0;
  min-height: 100vh;
}

tspan {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.ui-page-login {
  .mat-raised-button {
    background: #120a8f !important;
    color: #fff !important;
    border-radius: 20px !important;
    height: 40px;
    cursor: pointer !important;
    margin-top: 15px !important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }

  .mat-form-field-infix {
    border: none !important;
    outline: none !important;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    display: none !important;
  }

  .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused)
    .mat-form-field-ripple {
    display: none !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
    height: 0 !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.5em 0 0.75em 0 !important;
  }
  .mat-form-field-underline {
    display: none !important;
  }
}

// Contact

.contact-form {
  .mat-form-field {
    width: 100%;
  }
}
