.ui-page-header {
  background: rgba(0,0,0,255);
  position: fixed;
 width: 100%;
   z-index: 9;
   top: 0;

   &__container {

    margin: 0 auto;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1600px) {
      max-width: 1440px;
    }

    @media (max-width: 1200px) {
      max-width: 1024px;
      margin: 0 15px;
    }




    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      &__logo {
        cursor: pointer;
        margin: 0;
        .ng-fa-icon {
          color: #fff;
          font-size: 40px;
          &:hover {
            color: #00d1ff;
            transition: all 0.2s ease-out;
          }

          @media (max-width: 500px) {
            font-size: 30px;
          }
        }
      }

      &__menu {
        nav {
          ul {
            display: flex;
            @media (max-width: 500px) {
              display: flex;
              justify-content: left;
              align-items: center;
              flex-wrap: wrap;
              max-width: 220px;
            }

            li {
              list-style: none;
              margin-right: 15px;
              color: #fff;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 18px;
              text-transform: uppercase;
              cursor: pointer;
              @media (max-width: 500px) {
                margin-bottom: 5px;
                font-size: 15px;
              }

              &:hover {
                color: #00d1ff;
                transition: all 0.2s ease-out;
              }
            }
          }
        }
      }
    }
   }
}
